*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   transition: all 0.5s linear;
}
body {
   width: 100vw;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   background-color: #051923;
   overflow: hidden;
   gap: 1rem;
}
h1 {
   font-size: 2.5rem;
   color: #fbf8cc;
   text-shadow: 1px 1px 2px #cae9ff;
   margin-bottom: 1rem;
}
h4{
   color: #d0f4de;
   font-size: 1.8rem;
   text-transform: capitalize;
}
p {
   font-size: 1.5rem;
   color: #cae9ff;
   text-transform: capitalize;
   margin-bottom: .8rem;
}
div{
   display: flex;
   gap: 1rem;
   justify-content: center;
   flex-wrap: wrap;
}
button{
   font-size: 1rem;
   border: none;
   padding: 10px 15px;
   background-color: #1b4965;
   border-radius: 10px;
   color: #cae9ff;
   text-transform: capitalize;
   cursor: pointer;
}
button:hover{
   background-color: #1b4965dc;
   color: #fbf8cc;
}
a{
   text-decoration: none;
   color: #cae9ff;
   text-transform: capitalize;
   font-size: 1.2rem;
   margin-top: 1rem;
   background-color: #fbf8cc;
   padding: 5px 10px;
   border-radius: 10px;
   color: #1b4965;
}
a:hover{
   background-color: #cae9ff;
}